section#editArticle header{
    width: 100%;
    font-size: 58px;
    color: white;
}

section#editArticle .item{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10%;
}

section#editArticle input[type=submit]{
    width: 300px;
    height: 50px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 28px;
    letter-spacing: 3px;
    margin-top: 25px;
    margin-bottom: 10px;
    box-shadow: 0 0 2px 2px #FFFFFF ;
}

section#editArticle input[type=submit]:hover{
    width: 325px;
    height: 55px;
    background-color: #222222;
    font-size: 33px;
    cursor: pointer;
    color: #EEEEEE;
    box-shadow: 0 0 5px 5px #DDDDDD ;
    margin-top: 20px;
}

section#editArticle label{
    width: 250px;
    color: white;
    text-align: right;
    font-size: 17px;
    margin-top: 3px;
    margin-bottom: 3x;
    margin-right: 5px;
}

section#editArticle #title{
    width: 500px;
}

section#editArticle #POP{
    width: 400px;
}

section#editArticle #DOP{
    width: 90px;
}

section#editArticle #MP{
    width: 25px;
}

section#editArticle #IF{
    width: 25px;
}

section#editArticle input[type=number]::-webkit-inner-spin-button, 
section#editArticle input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

section#editArticle #authors{
    width: 50%;
    /* border: 1px solid black; */
    box-sizing: border-box;
}

section#editArticle #addAuthorButton{
    margin: 0 auto 0;
    border: 2px solid white;
    padding: 5px;
    font-size: 15px;
    color: white;
    background-color: #000000;
    width: 200px;
}

section#editArticle #addAuthorButton:hover{
    box-shadow: 0 0 2px 2px #FFFFFF ;
    cursor: pointer;
}

section#editArticle .deleteAuthor{
    margin-left: 5px;
    border: 1px solid white;
    color: white;
    background-color: black;
    width: 50px;
}

section#editArticle .deleteAuthor:hover{
    margin-left: 5px;
    cursor: pointer;
    color: red;
}

section#editArticle #simulateSpace{
    margin-left: 5px;
    width: 52px;
}

section#editArticle .flex{
    margin-left: 5px;
    width: 52px;
}

section#editArticle .shapes{
    width: 25px;
    margin-left: 3px;
}

section#editArticle span{
    color: white;
    margin-left: 2px;
}