footer{
    border: 1px solid red;
    width: 99%;
    margin: 0 auto 0;
    padding: 15px;
    color: black;
    font-size: 22px;
    box-sizing: border-box;
    background-color: white;
}


footer > div > a {
    text-decoration: none;
    color: unset;
}
