section#manageArticles table{
    width: auto;
    border: 1px solid black;
    margin: 10px auto 10px;
    border-spacing: 0;
    font-size: 21px;
}

section#manageArticles th, section#manageArticles td{
    border: 1px solid black;
    padding: 2px 5px 2px;
}

section#manageArticles table.inside{
    border: none;
}

section#manageArticles table.inside td{
    border: none;
}

section#manageArticles .disable{
    display: none;
}

section#manageArticles header{
    font-size: 78px;
    border-bottom: 3px solid black;
    color: white;
    text-shadow: 0 0 5px green;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.disableTest{
    /* display: none; */
    color: black;
}