 #menu{
	padding: 10px 0;
	background-color: #c34f4f;
	border-top: 1px solid #751b1b;
	border-bottom: 1px solid #751b1b;
	text-align: center;
	margin-bottom: 25px;
	position: relative;
}

#menu ol
{
	 padding: 0;
	 margin: 0;
	 list-style-type: none;
	 font-size: 15px;
	 height: 35px;
	 line-height: 200%;
	 display: inline-block;
}

#menu ol > li
{
	float: left;
	width: 140px;
	height: 40px;
	border-right: 1px dashed #751b1b;
}


#menu ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}


#menu ol > li:nth-of-type(1)
{
	border-left: 1px dashed #751b1b;
}


#menu ol > li:hover
{
	background-color: #cf6969;
}

#menu ol > li:hover > a
{
	color: #751717;
}

#menu ol > li:hover > ul 
{
	display: block;
}


#menu ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}

#menu ol > li > ul > li
{
	background-color: #cf6969;
	position: relative;
	z-index: 100;
	border-top: 1px dashed #751b1b;
}

#menu ol > li > ul > li:hover
{
	background-color: #c34f4f;
}

#menu ol > li > ul > li:hover > a
{
	color: #451717;
}